<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>Na ubrousek Industries tracking 2.1</title>
</head>
<body>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>Na ubrousek Industries tracking 2.1</h1>
            <img src="{{ url_for('static', filename='logo_simple.svg') }}" id="logo" />
            <br/>
            <a href="/2.0"><-</a>
            <h2>🤑</h2>
        </div>
        <p>
            <button id="button" class="btn btn-primary">Subscribe!</button>
            <span id="text">Lorem ipsum.</span>
            <input type="checkbox" class="form-check-input" id="checkbox"></label>
        </p>

        tady je --> <span id="pixel"></span>

    </main><!-- /.container -->
    <script type="text/javascript">
        function get_image_url() {
            const url = new URL("http://localhost:100/pixel.gif")
    
            url.searchParams.append("path", location.href)
            url.searchParams.append("title", document.title)
            url.searchParams.append("referrer", document.referrer)
            url.searchParams.append("resolution", window.screen.width + "," + window.screen.height)
            url.searchParams.append("r", Math.random())
            return url
        }
        function append_pixel(url) {
            const img = document.createElement("img")
            img.src = url
            document.getElementById("pixel").appendChild(img)
        }
        url = get_image_url()
        append_pixel(url)
        
        function click_fn() {
            url = get_image_url()
            url.searchParams.append("click", this.id)
            
            append_pixel(url)
        }
        document.getElementById('button').onclick = click_fn;
        document.getElementById('text').onclick = click_fn;
        document.getElementById('checkbox').onclick = click_fn;

        var interval = 10;
        var interval_count = 0;
        function time_fn() {
            interval_count++;
            url = get_image_url()
            url.searchParams.append("time", interval * interval_count)
            
            append_pixel(url)
        }
        setInterval(time_fn, interval*1000);
    </script>
</body>