<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>Na ubrousek Industries tracking 2.0</title>
</head>
<body>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>Na ubrousek Industries tracking 2.0</h1>
            <img src="{{ url_for('static', filename='logo_simple.svg') }}" id="logo" />
            <br/>
            <a href="/1.1"><-</a>
            <a href="/2.1">-></a>
            <h2>😈</h2>
        </div>

        tady je --> <span id="pixel"></span>

    </main><!-- /.container -->

    <script>
        const url = new URL("http://localhost:100/pixel.gif")

        url.searchParams.append("path", location.href)
        url.searchParams.append("title", document.title)
        url.searchParams.append("referrer", document.referrer)
        url.searchParams.append("resolution", window.screen.width + "," + window.screen.height)
      
        const img = document.createElement("img")
        img.src = url
        document.getElementById("pixel").appendChild(img)
    </script>
</body>